distance = 10
source_lat = 51.4896161
source_lon = 7.4058927
destination_lat = 51.4425347 # optional, only for source -> destination
destination_lon = 7.2627461 # optional, only for source -> destination
pbf = "resources/dortmund.osm.pbf"
result = "/tmp/result.gpx"
